@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.hind_madurai_font{
    font-family: "Hind Madurai", sans-serif;
}
.inter_font{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
}
    

/* nav styles */
.nav_container{
    display: flex;
    justify-content: space-between;
    max-height: 100px;
    min-width: 1920px;
}
.nav_logo_container{
    display: flex;
    max-width: 200px;
    max-height: 50px;
    align-items: center;
    margin: 25px 0px 25px 60px;
}
.nav_logo_para{
    font-size: 22px;
    font-weight:bolder;
    color: #013223;
}
.nav_logo{
    max-width: 50px;
    max-height: 50px;
    padding-right: 10px;
}
.nav_icons_container{
    display: flex;
    align-items: center;
    margin: 25px 60px 25px 0px;
    gap: 20px;
}

.nav_icon{
    max-width: 30px;
    max-height: 30px;
    padding-left: 10px;
}
.nav_heart_container{
    display: flex;
    align-items: center;
    background-color: rgb(166, 216, 235);
    border: 1px rgb(164, 205, 221);
    border-radius: 9999px;
    padding: 2px 36px 2px 36px;
}
.nav_copy{
    max-width: 114px;
    max-height: 52px;
    /* padding: 14px 36px 30px 36px; */
    padding: 14px 36px 14px 36px;
    background-color: #00A63E;
    border-radius: 50px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}

/* banner styles */
.banner_container {
    display: flex;             
    flex-direction: column;     
    justify-content: center;    
    align-items: center;     
    min-width: 1920px;   
    max-height: 240px;
    /* background-color: #013223;   */
    background: linear-gradient(to right, #013223,  #006747, #013223 );
    /* linear-gradient(to right, #013223,  #006747, #013223 ); */
}
.banner_logo{
    max-width: 90px;
    max-height: 90px;
    padding-top: 20px;
    margin-bottom: -30px;
}
.banner_para_01{
    font-weight: bold;
    font-size: 40px;
    color: #FFFFFF;
    max-height: 55px;
    margin-bottom: -20px;
}
.banner_para_02{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    max-height:28px;
}

/* card styles */
.card_parent{
    min-width: 1370px;
    margin: 20px -20px 10px 5px;
    padding: 48px 0px 48px 58px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* background-color: #DFEFFF; */
}
.whole_card_container{
    /* margin: 20px; */
    min-width: 1920px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(223, 239, 255, 50%);
}
.card_container{
    max-width: 435px;
    max-height: 360px;
    border: 2px solid lightgrey;
    background-color: white;
    border-radius: 12px;
    border-style: none;
    margin: 5px 5px 15px 5px;
    padding: 5px;
    box-shadow: 0 1px 3px rgba(106, 104, 104, 0.5);
    
}
.card_logo_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
    margin-bottom: -30px;
    margin-right: 5px;
}
.card_logo{
    max-width: 32px;
    max-height: 32px;
    padding: 14px;
    background-color: #FFE3E2;
    border-radius: 16px;
}
.card_heart{
    max-width: 24px;
    max-height: 24px;
    /* padding-right: 30px; */
}
.card_description{
    padding: 20px 20px 0px 20px;
}
.card_title{
    font-weight: bold;
    font-size: 24px;
    color: black;
    margin-bottom: -20px;
}
.card_title_description{
    font-size: 18px;
    color: grey;
}
.card_phone_number{
    margin-top: -10px;
    margin-bottom: -15px;
}
.card_All{
    padding: 6px 16px 6px 16px;
    background-color: rgb(202, 201, 201, 50%);
    border-radius: 9999px;
    font-size: 18px;
}
.card_button_copy{
    margin: 24px 8px 32px 0px;
    padding: 10px 60px 10px 60px;
    border-radius: 8px;
    border-color: rgb(221, 215, 215);
    /* border-style: none; */
    background-color: white;
    /* font-size: ; */
    
}
.card_button_call{
    padding: 12px 62px 12px 62px; 
    border-radius: 8px;
    border-style: none;
    color: white;
    background-color: green;
}


/* aside bar styles */
.aside_bar_container{
    background-color: white;
    min-width: 400px;
    max-height: 1100px;
    margin:70px 50px 10px 0px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(106, 104, 104, 0.5);
}
.aside_bar_nav_container{
    display: flex;
    justify-content: space-between;
    /* text-align: center; */
    padding: 20px 10px 10px 10px; 
}
.aside_btn{
    max-width: 114px;
    max-height: 52px;
    /* padding: 14px 36px 30px 36px; */
    padding: 14px 36px 14px 36px;
    background-color: #00A63E;
    border-radius: 50px;
    border-style: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
} 
.aside_bar_info{
    font-size: 20px;
    /* padding: 24px 24px 16px 24px; */
    padding-top: 10px;
}
#aside_bar_new{
    display: flex;
    justify-content: space-between;
    max-width: 352px;
    max-height: 83px;
    align-items: center;
    margin: 12px;
    padding: 16px;
    background-color: rgb(194, 190, 190, 25% );
    border-radius: 8px;

}
.aside_bar_new_sub{
    font-size: 18px;
}
.aside_bar_new_sub_title{
    max-width: 215px;
}
.aside_bar_new_sub_sub_title{
    color: gray;
}
.aside_bar_time{
    align-items: center;
}


@media screen and (max-width: 450px) {
    .nav_container{
        flex-direction: column;
        align-items: center;
        min-width: auto;
        max-height: auto;
    }
    .nav_logo_container{
        margin: 10px 0px 20px 0px;
    }
    .nav_icons_container{
        margin: 10px 0px 10px 0px;
    }
    .nav_copy{
        padding: 15px 30px 15px 30px;
    }
    .banner_logo{
        padding-top: 5px;
        margin-bottom: -30px;
    }
    .banner_para_01{ 
       
    }
    .banner_para_02{     
      
    }
    .banner_container {
        min-width: auto;   
        max-height: auto;
        padding: 20px;
        margin-top: 100px;
    }
    .banner_para_01{
        font-size: 28px;
        text-align: center;
        margin-bottom: -5px;
    }
    .banner_para_02{
        font-size: 16px;
        text-align: center;
        max-height:28px;
        margin-bottom: 40px;
    }
    .card_parent{
        grid-template-columns: 1fr;
        min-width: auto;
        padding: 20px;
    }
    .whole_card_container{
        min-width: auto;
        display: grid;
        min-height: 4600px;
    }
    .card_container{
        max-width: auto;
        max-height: auto;
        /* margin-bottom: -500px; */
        /* min-height: ; */
    }
    .aside_bar_container{
        /* min-width: auto; */
        /* max-height: auto; */
        display: block;
        min-height: 1140px;
        margin:20px 10px 10px 10px;
    }
    .card_button_copy{
        margin: 12px 4px 16px 0px;
        padding: 10px 50px 10px 50px;
      
    }
    .card_button_call{
        padding: 11px 52px 11px 52px;
    }
   
    
}